.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 1 0;
  line-height: 1;
  font-size: 3rem;
  letter-spacing: -0.2rem;
  text-align: center;
  color: #04030f;
  opacity: 0.8;
}

.brand {
  white-space: nowrap;
}

.brandSpacer {
  font-size: 2rem;
  display: block;
  color: #854d27;
  margin-top: 0.6rem;
}

.tagLine {
  display: block;
  font-size: 1.2rem;
  letter-spacing: 0;
  font-style: italic;
  opacity: 0.8;
  margin-top: 0.3rem;
  font-weight: 500;
  letter-spacing: -0.05rem;
}

.footer {
  text-align: center;
  width: 100%;
  padding: 1rem;
  background-color: #04030f;
  color: #fff;
}

.footerHeader {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  letter-spacing: -0.05rem;
}

.footerItems {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footerItems li {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.footerItems li a {
  text-decoration: underline;
}

.footerItems li a:active {
  background-color: #854d27;
}

.siteMenu {
  list-style-type: none;
  padding: 0;
}

.siteMenu li {
  display: inline-block;
  color: #fff;
  margin: 0.3rem;
}

.siteMenu li a {
  line-height: 25px !important;
  padding: 0.3rem 1rem;
  display: block;
  text-transform: uppercase;
  font-size: 1rem;
  background: #854d27;
  border-radius: 0.3rem;
}

.siteMenu li a {
  background: #04030f;
}
