.menu {
  width: 100%;
}

.menuSection {
  padding: 1rem;
  color: #fff;
}

.sectionName {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: #fff 2px dotted;
  letter-spacing: -0.05rem;
}

.foodItemList {
  list-style-type: none;
  padding: 0;
  color: #fff;
  font-size: 1.2rem;
}

.foodItem {
  padding: 1rem 0;
  border-bottom: #fff 1px dotted;
}

.itemName,
.drinkName {
  font-weight: 500;
}

.drinkName {
  line-height: 2.4rem;
}

.number {
  opacity: 0.95;
  font-weight: 200;
}

.allergens {
  opacity: 0.8;
  font-weight: 200;
}

.prices {
  float: right;
  margin-top: -1.5rem;
  font-style: italic;
  text-align: right;
}

.price {
  font-size: 1.2rem;
}

.drinkPrice {
  font-style: italic;
  text-align: right;
}

.smallPrice {
  font-size: 1.1rem;
  clear: both;
  line-height: 1rem;
  margin-top: 0.6rem;
}

.smallPrice small {
  opacity: 0.6;
}

.alcoholPct,
.volume {
  font-size: 1rem;
  opacity: 0.8;
}

.desc {
  opacity: 0.75;
  display: block;
  width: 90%;
}

.menuTitle {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: -0.05rem;
  margin: 0;
}

.menuList {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.menuList li {
  display: inline-block;
  margin: 0.6rem 0.3rem;
}

.menuList li a {
  font-size: 1.2rem;
  text-decoration: underline;
  background-color: #dd7230;
  padding: 0.3rem 1rem;
  color: #fff;
  border-radius: 0.3rem;
}

.drinksList {
  list-style-type: none;
  padding: 0;
  color: #fff;
  font-size: 1.2rem;
  display: table;
  width: 100%;
}

.drinkItem {
  display: table-row;
}

.drinkItem div {
  display: table-cell;
}
